<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by Akshat. In backend it uses Mapbox APIs to get the coordinates of the provided location and weatherstack APIs to get the weather of 
            the provided location and sends it back to the client in the JSON formate.
        </p>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>